extends layout

block content
  h1= title
  p Welcome to #{title}

  - for result in data
    - for item in result.video_posts
      p #{item.course_name}
      ul
        li
          a(href="https://www.youtube.com/watch?v=#{item.video_id}") #{item.poster.name}
