extends layout

block content
  div(class='container')
    h1= title
    p Welcome to #{title}

    -each val, key in races
      p time trials for #{key}
        ul
          -each id, course in val
            li
              div
                a(href='/time-trials/#{id}') #{course}
              div
                a(href='/videos/#{id}/2') Videos of Time Trials
